.button {
  background-color: $button-bg;
  border: none;
  border-radius: 5px;
  color: $button-color;
  cursor: pointer;
  font-size: $base-font-size;
  line-height: 1.2;
  margin-bottom: $space;
  padding: $input-spacing;
  text-transform: uppercase;
  box-shadow: 2px 4px 2px -2px gray;
}
.button:hover {
  background-color: $button-hv;
}

.button--danger {
  background: $button-danger-bg;
}

.button--danger:hover {
  background: $button-danger-hv;
}

.button--link {
  display: inline-block;
  text-decoration: none;
}

.button--border {
  background-color: transparent;
  border: 1px solid $button-bg;
  color: $button-bg;
  padding: .3rem .8rem;
  margin: 0 ($space / 2) 0 0;
}

.button--border:hover {
  color: $button-color;
}

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 5px;
  font-size: $base-font-size;
  color: $button-color;
  box-shadow: 2px 4px 2px -2px gray;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: $button-danger-bg;
}
.loginBtn--google:before {
  border-right: $button-danger-hv 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: $button-danger-hv;
}